<div class="container">
     <!-- Default form contact -->
     <form class="text-center border border-light mt-5"  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <p class="h4 mb-4">Informations personnelles</p>
        <div class="row">
            <div class="col-md">
                <div class="row p-3">

                    <label>Je suis</label>
                    <!-- Name -->
                    <input mdbInput type="text" id="nom" class="form-control mb-4" placeholder="Nom" formControlName="nom">

                    <!-- Prenom -->
                    <input mdbInput type="text" id="prenom" class="form-control mb-4" placeholder="Prenom" formControlName="prenom">

                    <!-- Sexe -->
                    <select class="browser-default custom-select mb-4" formControlName="sexe">
                        <option value="" selected disabled>Sexe</option>
                        <option value="M">Masculin</option>
                        <option value="F">Féminin</option>
                    </select>

                    <!-- OS -->
                    <select class="browser-default custom-select mb-4" formControlName="os">
                        <option value="" selected disabled>Orientation Sexuelle</option>
                        <option value="1">Hétérosexuel</option>
                        <option value="2">Homosexuel</option>
                        <option value="3">Bisexuel</option>
                    </select>

                    <!-- DN -->
                    <input mdbInput mdInput name="dn" theme="dp-material" placeholder="Date de naissance" id="dn" class="form-control mb-4" formControlName="dn" [dpDayPicker]="config" />

                    <!-- Message -->
                    <div class="form-group" style="width: 100%;">
                        <textarea mdbInput class="form-control rounded-0" id="apropro" rows="3" formControlName="apropro" placeholder="A propos de moi"></textarea>
                    </div>

                    <input-file
                      [(ngModel)]="file"
                      placeholder="Photo de profil"
                      formControlName="image"
                      fileAccept="image/*"
                      fileLimit="1">
                  </input-file>

                </div>
            </div>
            <div class="col-md p-3">
                <div class="row">
                    <label>Je cherche</label>
                    <!-- sexe -->
                    <select class="browser-default custom-select mb-4" formControlName="sexe_cherche">
                      <option value="" selected disabled>Sexe</option>
                      <option value="M">Un homme</option>
                      <option value="F">Une femme</option>
                    </select>
                </div>

                <div class="custom-slider row">
                  <label>Agé(e) de </label> <mdb-badge style="margin: 6px 10px 10px 10px;" color="cyan">{{ minValue }} ans </mdb-badge> à <mdb-badge style="margin: 6px 10px 10px 10px;" color="cyan">{{ maxValue }} ans </mdb-badge>
                  <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                </div>

            </div>
         </div>
         <!-- Send button -->
         <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

         <div class="text-center">
          <button mdbBtn color="danger" class="my-4" (click)="sortir">Annuler</button>
          <button mdbBtn color="info" class="my-4" type="submit" [disabled]="signUpForm.invalid">Valider</button>
         </div>
    </form>
    <!-- Default form contact -->
</div>
