<!-- Section: Testimonials v.1 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">A propos de l'application</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">
  <span color="info">Rencontre.com</span> est un site de rencontre en ligne qui permet de trouver l'amour
  malgré la distance et le temps. Le site à été dévellopé par les personnes suivantes :
  </p>

  <!-- Grid row -->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="base_url+anael" class="rounded-circle img-fluid" style="width: 200px;">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Franck Anael Mbiaya</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Scrum master, dévellopeur</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="base_url+jeremie" class="rounded-circle img-fluid" style="width: 200px;">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Jeremie W. Ouedraogo</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Dévellopeur</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="base_url+kevin" class="rounded-circle img-fluid" style="width: 200px;">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Kevin Kana Nguimfack</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Dévellopeur</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img [src]="base_url+rolvy" class="rounded-circle img-fluid" style="width: 200px;">
        </div>
        <mdb-card-body>
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Rolvy Dicken NGOLO M.</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4">
            <mdb-icon fas icon="quote-left" class="pr-2"></mdb-icon>Testeur</p>
        </mdb-card-body>
      </mdb-card>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Testimonials v.1 -->
