<header class="v-header contaier">
  <div class="fullscreen-video-wrap">
    <img [src]="cheminImage">
  </div>
  <div class="header-overlay"></div>
  <div class="header-content container flex-center">
    <div class="row" style="width: 100%">
      <div class="col-sm-7">
        <!-- Default form register -->
        <form class="text-center border border-light p-5 wow animate__animated animate__fadeInLeft" data-wow-delay="0.5s" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

          <div class="text-center">
            <h3 class="white-text">
              <mdb-icon fas icon="user" class="text-white"></mdb-icon> Inscription</h3>
            <hr class="hr-light">
          </div>

          <!-- name -->
          <div class="md-form mb-4">
            <input mdbInput name="name" type="text" id="name" class="form-control"
                   formControlName="name">
            <label for="name">Nom *</label>
            <mdb-error *ngIf="signUpForm.get('name').invalid && (signUpForm.get('name').dirty || signUpForm.get('name').touched)">Votre Nom est vide</mdb-error>
          </div>

          <!-- E-mail -->
          <div class="md-form mb-4">
            <input mdbInput name="email" type="email" id="email" class="form-control"
                   formControlName="email">
            <label for="email">Email *</label>
            <mdb-error *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').value != '' && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">Votre Email est invalide</mdb-error>
            <mdb-error *ngIf="signUpForm.get('email').value == '' && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">Votre Email est vide</mdb-error>
          </div>

          <!-- Password -->
          <div class="md-form">
            <input mdbInput type="password" id="password" class="form-control" formControlName="password">
            <label for="password">Mot de passe *</label>
            <mdb-error *ngIf="signUpForm.get('password').invalid && (signUpForm.get('password').dirty || signUpForm.get('password').touched)">Votre mot de passe doit avoir au moins 8 caractères</mdb-error>
          </div>

          <div class="md-form">
            <input mdbInput type="password" id="password_confirm" class="form-control" formControlName="password_confirm">
            <label for="password_confirm">Confirmer Mot de passe *</label>
            <mdb-error *ngIf="signUpForm.get('password_confirm').invalid && (signUpForm.get('password_confirm').dirty || signUpForm.get('password_confirm').touched)">Vos mots de passe ne sont pas identiques</mdb-error>
          </div>

          <div class="row">
            <div class="mx-auto d-flex justify-content-center">
              <mdb-checkbox [default]="true" formControlName="acceptTerms">
                J'accepte les CGU et la <a href="" target="_blank">Déclaration de protection des données</a> , et certifie être majeur(e).
                <mdb-error  class="mt-2" style="text-align: center" *ngIf="signUpForm.get('acceptTerms').invalid && (signUpForm.get('acceptTerms').dirty || signUpForm.get('acceptTerms').touched)">Vous devez accepter les conditions d'utilisation de l'application</mdb-error>
              </mdb-checkbox>
            </div>
          </div>

          <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>

          <!-- Sign up button -->
          <button mdbBtn color="info" block="true" class="my-4 mt-2" type="submit" [disabled]="signUpForm.invalid">S'inscrire <div *ngIf="loading" class="spinner-border spinner-border-sm"></div></button>

          <!-- Social register -->
          <p>Ou s'inscrire avec:</p>

          <a type="button" class="text-white mx-2">
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
          <a type="button" class="text-white mx-2">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
          <a type="button" class="text-white mx-2">
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
          <a type="button" class="text-white mx-2">
            <mdb-icon fab icon="google"></mdb-icon>
          </a>

        </form>
        <!-- Default form register -->
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</header>










