<form>
    <div class="row" margin="10px">
        <div class="col-sm-6">
            <div margin="15px">
                <img src="assets/img/images.jpeg" alt="love-image" height="100px" width="150px" />
            </div>
            <label top-padding="10px" style=" color:blue">I am</label>
            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="ismale" name="ismale" mdbInput>
                        <label class="custom-control-label" for="isman">Man</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="isfemale" name="isfemale" mdbInput>
                        <label class="custom-control-label" for="isfemale">Woman</label>
                    </div>
                </div>
            </div>

            <label style=" color:blue">Looking for</label>
            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="male" name="male" mdbInput>
                        <label class="custom-control-label" for="male">Man</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="custom-control custom-radio col-sm-6">
                        <input type="radio" class="custom-control-input" id="female" name="female" mdbInput>
                        <label class="custom-control-label" for="female">Woman</label>
                    </div>

                </div>

            </div>

            <!-- age -->
            <label style=" color:blue">Age</label>
            <div class="form-group row">

                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input mdbInput type="number" class="form-control" placeholder="age min">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="md-form mt-0">
                        <input mdbInput type="number" class="form-control" placeholder="age max">
                    </div>
                </div>

            </div>
            <!-- fin age -->

            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary"> Seek your partner</button>
                </div>
            </div>

        </div>
        <div margin-bottom-10>
            <img src="assets/img/index.jpeg" alt="world-image" height="450px" width="500px" />
        </div>
    </div>

</form>