<div class="row">
  <div class="col-sm-3">
    <div class="card-deck">
      <!-- Card -->
      <mdb-card>
        <div class="view overlay waves-light text-center" mdbWavesEffect>
          <div class="row unique-color" style="height: 100px;" mdbWavesEffect gradient="aqua"></div>
        </div>
        <!--Card content-->
        <mdb-card-body class="text-center">
          <!-- Card img -->
          <div class="col-xl-10 col-md-4 mb-3 text-center" style="display: inline-grid;;margin-top: -90px;">

            <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle"
              alt="Responsive image">
        
          </div>
          <!--Title-->
          <mdb-card-title>
            <h4>THomas Roger</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> 
            Un texte su moi même
          </mdb-card-text>
    
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>

      </mdb-card>
    </div>
    <button [routerLink]="['informations']" mdbBtn type="button" gradient="blue" class="mt-3" rounded="true" mdbWavesEffect style="width: 95%;">Informations</button>

    <button mdbBtn type="button" gradient="blue" class="mt-3" rounded="true" mdbWavesEffect style="width: 95%;">Personnalité</button>

    <button mdbBtn type="button" gradient="blue" class="mt-3" rounded="true" mdbWavesEffect style="width: 95%;">Physique</button>

    <button mdbBtn type="button" gradient="blue" class="mt-3" rounded="true" mdbWavesEffect style="width: 95%;">Style de vie</button>
  </div>
  <div class="col-sm">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>